

/* section hero  */
section#hero-logado .content-hero {
  padding-top: 5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#121e3d), to(#000));
  background-image: linear-gradient(to bottom, #121e3d 0%, #000 100%);
  background-repeat: repeat-x;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
}

section#hero-logado .content-hero div.col-md-6 {
  text-align: left;
}

section#hero-logado .content-hero div.hero-img {
  width: 33.33333333%;
  float: left;
}

@media screen and (min-width: 1200px) {
  section#hero-logado {
    width: 1170px;
  }
}

@media screen and (min-width: 992px) {
  section#hero-logado {
    width: 970px;
    margin-right: auto;
    margin-left: auto;
  }
}